{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "endOfLine": "auto",
    "proseWrap": "preserve",
    "overrides": [
      {
        "files": "*.js",
        "options": {
          "proseWrap": "preserve"
        }
      }
    ]
  }  